/* can you write a grid system? */

/* here's one. it's one line. it works basically infinitely. i win.
 * (the asterisk is for IE7. it's dumb.)
 */
.grid {width:50%; float:left; display:inline; *margin-right:-1px; }

/* here's another one, a little more in-depth, with rows and columns both. */
.row { display: flex; }
.col { flex: 1; }
@media (max-width: 48em) {
  .row { flex-direction: column; }
  .col { flex: 0 0 auto; }
}
@media (min-width: 48em) {
  .col-tenth { flex: 0 0 10%; }
  .col-fifth { flex: 0 0 20%; }
  .col-quarter { flex: 0 0 25%; }
  .col-third { flex: 0 0 33.3333334%; }
  .col-half { flex: 0 0 50%; }
}
