._*
*~
*.7z
.alarm.mp3
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.bower-cache
bower_components
.bower-registry
.bower-tmp
_build/
/.build/
build.js
build/Release
bundle
bundle.js
*.bz2
.completer.hist
coverage
*.dat
data
db
.DocumentRevisions-V100
._.DS_Store
.DS_Store
*.egg
*.elf
.fseventsd
.grunt
*.gz
Icon
.idea
*.key
*.ko
lib-cov
*.lock
.lock-wscript
*.log
logs
.LSOverride
.netrwhist
Network Trash Folder
node_modules
npm-debug.log*
*.o
*.obj
*.out
output
*.pid
pids
.psci*
public/lib
.pulp-cache
__pycache__/
*$py.class
*.py[cod]
_references.js
.sass-cache
*.seed
*.so
*.so.*
.Spotlight-V100
src/.webpack.js
*.swp
*.tar
.TemporaryItems
Temporary Items
*.tmp
.Trashes
.vimsession~
.VolumeIcon.icns
.vscode
x/

