*$py.class
*.7z
*.aux
*.bz2
*.chi
*.chs.h
*.dat
*.dyn_hi
*.dyn_o
*.egg
*.elf
*.gz
*.hi
*.hp
*.key
*.ko
*.lock
*.log
*.o
*.obj
*.out
*.pid
*.prof
*.py[cod]
*.seed
*.so
*.so.*
*.swp
*.tar
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
._.DS_Store
.alarm.mp3
.apdisk
.bower-cache
.bower-registry
.bower-tmp
.cabal-sandbox/
.completer.hist
.fseventsd
.grunt
.hpc
.hsenv
.idea
.lock-wscript
.netrwhist
.psci*
.pulp-cache
.sass-cache
.vimsession~
.virtualenv
.vscode
/.build/
Icon
Network Trash Folder
Temporary Items
__pycache__/
_build/
_references.js
bower_components
build.js
build/Release
bundle
bundle.js
cabal-dev
cabal.sandbox.config
coverage
data
db
dist
lib-cov
logs
node_modules
npm-debug.log*
output
pids
public/lib
src/.webpack.js
x/
